params {
	pacbio_bam	= "/workspace/nextflow-genomics/test_files/subset_covid_hifi.bam"
}

process {
        withName: 'HIFIASM' {
                cpus=16
                memory = '62 GB'
                ext.args = '-f 0'
                publishDir = [
                        path: { "assembly/hifiasm" },
                        mode : 'copy',
                        saveAs: { filename -> "$filename" }
                ]
        }
}

profiles{
    mamba {
        conda.enabled          = true
        conda.useMamba         = true
    }
}
